<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript Gallery</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .img-box {
            padding: 20px;
        }
        .input-group {
            margin-top: 20px;
        }
    </style>
</head>
<body class="container">
    <div id="app">
        <div class="col-12">
            <div class="input-group">
                <select class="form-control col-3" v-model="filterById" v-on:change="filterList">
                    <option value="">Select Filter</option>
                    <option value="odd">Odd</option>
                    <option value="even">Even</option>
                    <option value="all">All Integer</option>
                </select>                    
                <input type="text" class="form-control" v-model="search" placeholder="Search by title">
            </div>
            <paginate name="gallery" :list="filterList" class="row" :per="15">
                <div class="col img-box" v-for="image in paginated('gallery')">
                    <img v-bind:src="image.thumbnailUrl">
                </div>
                <div class="col-12 p-2"></div>
            </paginate>
            <paginate-links for="gallery" :limit="10" :show-step-links="true" :classes="{
                'ul': 'pagination',
                'li': 'page-item',
                'a': 'page-link'
            }" :async='true'>
            </paginate-links>
    </div>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="./node_modules/vue-paginate/dist/vue-paginate.js"></script>
    <script src="./app.js"></script>
</body>
</html>